<html>
  <head>
	<!-- JQuery -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Datatables lib -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.bootstrap.min.css"/>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>

	<!-- Style sheet for custom styles -->
	<link href="/static/styles.css" rel="stylesheet">

	<!-- ChartJS -->
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js"></script>

    <title>CineApp</title>
  </head>
  <body>
	<nav class="navbar navbar-default navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="{{ url_for('index') }}">CineApp</a>
			 </div>	
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% if g.user.is_authenticated %}
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notes<span class="caret"></span></a>
					  <ul class="dropdown-menu">
				       	    <li><a href="{{ url_for('list_my_movies') }}">Mes notes</a></li>
				       	    <li><a href="{{ url_for('list_homeworks') }}">Devoirs</a></li>
					  </ul>
					</li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Films<span class="caret"></span></a>
					  <ul class="dropdown-menu">
					    <li><a href="{{ url_for('list_movies') }}">Liste des films</a></li>
					    <li><a href="{{ url_for('add_movie') }}">Ajouter un film</a></li>
					  </ul>
					  </li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats/Graphiques<span class="caret"></span></a>
					  <ul class="dropdown-menu">
					    <li><a href="{{ url_for('graph_by_mark') }}">Répartition par note</a></li>
					    <li><a href="{{ url_for('graph_by_type') }}">Répartition par type</a></li>
					    <li><a href="{{ url_for('graph_by_origin') }}">Répartition par origine</a></li>
					    <li><a href="{{ url_for('average_by_type') }}">Moyenne par type</a></li>
					    <li><a href="{{ url_for('average_by_origin') }}">Moyenne par origine</a></li>
					    <li><a href="{{ url_for('graph_by_year') }}">Répartition par année</a></li>
					    <li><a href="{{ url_for('graph_by_year_theater') }}">Films vus au ciné</a></li>
					  </ul>
					  </li>
					{% endif %}
				</ul>
				{% if g.user.is_authenticated %}
					{%from "_formhelpers.html" import render_field %}
						<form class="navbar-form navbar-left" method="post" action="{{ url_for('filter_form') }}">
							<div class="form-group">
							{{ g.search_form.hidden_tag() }}
							{{ g.search_form.search(class="form-control",placeholder="Les Tuche, Spielberg") }}	
							</div>
							{{ g.search_form.submit_search(class="btn btn-default") }}
						</form>
					<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<img src="http://www.gravatar.com/avatar/{{ g.user.avatar }}?d=identicon&s=20" class="avatar img-circle" alt="avatar">
							Welcome <strong>{{ g.user.nickname }}</strong>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('edit_user_profile') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profil</a></li>
								<li><a href="{{ url_for('change_user_password') }}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Mot de passe</a></li>
							</ul>
					</li>
					<li>
						<p class="navbar-btn">				
							<a class="btn btn-default" role="button" href="{{ url_for('logout') }}">Se deconnecter</a>
						</p>
					</li>
					</ul>
				{% endif %}
			</div>
		</div>
	</nav>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
		<div class="msg-alert alert alert-{{ category }} modal-dialog text-center">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
			</button>
			{{ message.decode('utf-8') }}<br/>
		</div>
		{% endfor %}
	{% endif %}
	{% endwith %}
	{% block content %} {% endblock %}
  <script>
$(".alert").alert();
window.setTimeout(function() {
    $(".msg-alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 2000);
  </script>
  </body>
</html>
