{% extends "base.html" %} 
{% block content %}
	<div class="container">
		<div class="centered text-center">
			<h1>{{ movie.name }}</h1>
		</div>
		<div class="centered text-center">
			<h4>Sortie le: {{ movie.release_date }}</h4>
		</div>
		<div class="row">
			<div class="col-md-2">
				{% if movie.poster_path != None %}
				<img src="{{ movie.poster_path }}"/>
				{% else %}
				<div class="jumbotron text-center">Pas d'affiche</div>
				{% endif %}
			</div>
			{%from "_formhelpers.html" import render_field %}
			<form action="{{ url_for('confirm_' + endpoint + '_movie') }}" method="post" name="confirmform">
			{{ form.hidden_tag() }}
			<div class="col-md-10">
				<table class="table table-striped">
					<tr class="text-left">
					 <td>Real:</td>
					 <td>{{ movie.director }}</td>
					</tr>
					<tr class="text-left">
					 <td>Sortie:</td>
					 <td>{{ movie.release_date }}</td>
					</tr>
					<tr class="text-left">
					 <td>Fiche Allocine:</td>
					 <td><a href="{{ movie.url }}">{{ movie.url }}</a></td>
					</tr>
					<tr class="text-left">
					 <td>Type:</td>
					<td> {{ render_field(form.type,label_visible=false) }} </td>
					</tr>
					<tr class="text-left">
					 <td>Origine:</td>
					 <td>{{ render_field(form.origin,label_visible=false) }}</td>
					</tr>
				</table>
			</div>
			{{ render_field(form.submit_confirm,label_visible=false,class="btn btn-success center-block") }}	
			</form>
		</div>
	</div>
{% endblock %}
