{% extends "base.html" %}

{% block content %}
	<div class="container">
	    <h1>Edition du profil</h1>
		<hr>
		<div class="row">
	      <!-- left column -->
	      <div class="col-md-3">
		<div class="text-center">
		  <img src="{{ config.GRAVATAR_URL}}{{ g.user.avatar }}?d=identicon&s=100" class="avatar img-circle" alt="avatar">
		</div>
	      </div>
	      
	      <!-- edit form column -->
	      <div class="col-md-9 personal-info">
		{% if state == "user" %}
		<h3>Informations Utilisateur</h3>
		{% elif state == "password" %}
		<h3>Changement du mot de passe</h3>
		{% endif %}
		
		<form class="form-horizontal" role="form" method="post" action="">
			{{ form.hidden_tag() }}
		  {% if state == "user" %}
		  <div class="form-group">
		    <label class="col-lg-3 control-label">Email:</label>
		    <div class="col-lg-8">
			{{ render_field(form.email,label_visible=false) }}
		    </div>
		  </div>
		  <h3>Notifications</h3>
		  <div class="form-group">
		    <div class="col-lg-3">
			    <label class="pull-right">Mes propres activites:</label>
		    </div>
		    <div class="col-lg-8">
			{{ render_field(form.notif_own_activity,label_visible=false,parse_class=false) }}
		    </div>
		    <div class="col-lg-3">
			    <label class="pull-right">Ajout/Mise à jour d'un film:</label>
		    </div>
		    <div class="col-lg-8">
			{{ render_field(form.notif_movie_add,label_visible=false,parse_class=false) }}
		    </div>
		    <div class="col-lg-3">
			    <label class="pull-right">Note d'un film:</label>
		    </div>
		    <div class="col-lg-8">
			{{ render_field(form.notif_mark_add,label_visible=false,parse_class=false) }}
		    </div>
		    <div class="col-lg-3">
			    <label class="pull-right">Ajout d'un devoir:</label>
		    </div>
		    <div class="col-lg-8">
			{{ render_field(form.notif_homework_add,label_visible=false,parse_class=false) }}
		    </div>
		  </div>
		  {% elif state=="password" %}
		  <div class="form-group">
		    <label class="col-md-3 control-label">Mot de passe:</label>
		    <div class="col-md-8">
			{{ render_field(form.password,label_visible=false,message=true) }}
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-md-3 control-label">Confirmation:</label>
		    <div class="col-md-8">
			{{ render_field(form.confirm,label_visible=false) }}
		    </div>
		  </div>
		  {% endif %}
		  <div class="form-group">
		    <label class="col-md-3 control-label"></label>
		    <div class="col-md-8">
			{{ form.submit_user(class="btn btn-primary") }}
		      <span></span>
		    </div>
		  </div>
		</form>
	      </div>
	  </div>
	</div>
	<hr>
{% endblock %}
