<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<!--login modal-->
<div class="container">
<h1 class="text-center">Welcome to CineApp</h1>
	<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
		<div class="panel panel-default" >
			    <div class="panel-heading">
				<div class="panel-title text-center">Authentification</div>
			    </div>
			    <div class="panel-body" >
                                {%from "_formhelpers.html" import render_field %}
				<form name="form" id="login" class="form-horizontal" enctype="multipart/form-data" method="POST">
				    {{ form.hidden_tag() }} 
				    {{ render_field(form.username,label_visible=False,message=true,group=false,focus=true,placeholder="Utilisateur", autofocus="autofocus") }}
				    {{ render_field(form.password,label_visible=False,message=true,group=false, placeholder="Mot de passe") }}
				    <div class="form-group">
					<!-- Button -->
					<div class="col-sm-12 controls">
					    <input type="submit" class="btn btn-primary btn-block" value="Se connecter">
					</div>
				    </div>
				</form>
			    </div>
		</div>  
	  <div>
	 <div class="text-center">
		 <p>Powered by:</p>
		 <img src="/static/images/tmdb_logo.png" height="150" width="212"/>
	 </div>
</div>
{% endblock %}
