<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" id="login_modal">
  <div class="modal-content">
	      <div class="modal-header">
		  <h1 class="text-center">Welcome to CineApp</h1>
	      </div>
	      <div class="modal-body">
		{%from "_formhelpers.html" import render_field %}
		<form class="form col-md-12 center-block" action="" method="post" name="login">
		    <div class="form-group">
			{{ form.hidden_tag() }} 
			{{ render_field(form.username,label_visible=False,class="form-control input-lg", placeholder="Utilisateur") }}
		    </div>
		    <div class="form-group">
			{{ render_field(form.password,label_visible=False,class="form-control input-lg", placeholder="Mot de Passe") }}
		    </div>
	    	    <div class="form-group">
			<input type="submit" class="btn btn-primary btn-lg btn-block" value="Se connecter">
	   	    </div>	
		 </form>
	      </div>
	  <div class="modal-footer">
		<div class="col-md-12"></div>
	  </div>
  </div>
</div>
</div>
{% endblock %}
