{% extends "base.html" %} 
{% block content %}
	<script>
	$(document).ready(function() {
	    {% if clear_table == True %}
	    var table = $('#movielist').DataTable();
            table.state.clear();
	    table.destroy();
	    {% endif %}
	    var table = $('#movielist').DataTable(
			{ "searching":false,
			  "ordering":true,
			  "stateSave": true,
			  "processing": true,
			  "serverSide": true,
			  "displayLength": 100,
			  fixedHeader: { "header": true, "footer": true },
			  "ajax": {
				"url": "{{ url_for('update_datatable') }}",
				"type" : "POST",
				"data": function(args) {
				      return { "args": JSON.stringify( args ) };
				}
			  },
			  "columns" : [
				{ "data": "name",
				  className: "dt-right",
				  "render": function(data,type,row) {
					return $("<div>").append($("<a/>").attr("href", row.DT_RowData.link).text(data)).html();
					}
			        },
				{ "data": "director", className: "dt-right" },
			  	{ "data": "average", "orderable" : true },
				{ "data": "my_mark",
				  "render": function(data,type,row) {
						if (row.my_mark == null)  {
  							return '<a class=\"btn btn-primary btn-xs\" href=' + row.DT_RowData.mark_link + '>Noter</a>'
						} else {
							return '<span title="' + row.name +'" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="' + row.my_comment + '">' + row.my_mark + "</span>"
						}
					
					}
				 },
				 { "data": "my_when",
				   "render": function(data,type,row) {
						if (row.my_where == 'C')  {
							return '<span title="Vu au cinema" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Oui">' + row.my_when + "</span>"
						} else {
							return '<span title="Vu au cinema" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Non">' + row.my_when + "</span>"
						}
					}
				 },
			{% for cur_user in users %}
				{% if g.user.id != cur_user.id %}
				 { "data": "other_marks.{{ cur_user.id }}",
			           "render": function(data,type,row) {
					if (row.other_marks[{{cur_user.id}}]  == null)  {
						if (row.DT_RowData.homework_link[{{cur_user.id}}]["when"] == null) {
							return '-';
							//return '<a class=\"btn btn-success btn-xs\" href=' + row.DT_RowData.homework_link[{{cur_user.id}}]["link"] + '>Devoir</a>'
						} else {
							return '<a disabled="true" title="Devoir donne par" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="' + row.DT_RowData.homework_link[{{cur_user.id}}]["who"] +'" class="btn btn-warning btn-xs">Devoir</button>'
						}
					} else {
							return '<span title="' + row.name + '" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="' + row.other_comments[{{cur_user.id}}] + '">' + row.other_marks[{{cur_user.id}}] + "</span>"
					}
				   }
				 },
				 { "data": "other_when.{{ cur_user.id }}",
				   "render" : function(data,type,row) {
						if (row.other_where[{{cur_user.id}}]  == 'C')  {
							return '<span title="Vu au cinema" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Oui">' + row.other_when[{{cur_user.id}}] + "</span>"
						} else {
							return '<span title="Vu au cinema" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Non">' + row.other_when[{{cur_user.id}}] + "</span>"
						}
					},
				  },
				{%endif%}
			{% endfor %}
			  ],
			  "columnDefs": [
				{"className": "dt-center", "targets": "_all"}
			  ],
			  "language": {
					"info": "Page _PAGE_ sur _PAGES_",
					"lengthMenu": "Afficher _MENU_ films",
					"paginate" : {
						"first": "Première page",
						"last": "Dernière  page",
						"next": "Suivant",
						"previous": "Précédent"
					 }
				},
			}
		);
	
		// Enable popover on table redraw	
		table.on( 'draw', function () {
	                    $('[data-toggle="popover"]').popover();
		} );
	} );
	</script> 
	<div class="container">
		{% if session['search_type'] == 'filter' %}
		<h1 class="text-center">Recherche Personnalisée: {{ session['query'] }}</h1>
		{% elif session['search_type'] == 'filter_origin_type' %}
		<h1 class="text-center">Recherche par filtre</h1>
		{% else %}
		<h1 class="text-center">Liste des films</h1>
		{% endif %}
	</div>
	<div class="container">
		<div class="row">
		        {%from "_formhelpers.html" import render_field %}
			<!-- Filter Form -->
			<div>
				<form class="form-inline text-center" method="post" role="form" action={{ url_for('filter_form') }}>
					{{ render_field(filter_form.origin) }}	
					{{ render_field(filter_form.type) }}	
					{{ render_field(filter_form.seen_where) }}	
					{{ render_field(filter_form.submit_filter,label_visible=false,class="btn btn-success") }}
				</form>
				
			</div>
		</div>
	</div>
	<div class="container">
		<table class="table table-striped" id="movielist">
		<!-- Display the users name -->
		<thead>
		<tr>
		<td colspan="3"></td>
		<th colspan="2" class="text-center">
	  		<div>
				<img src="{{ config.GRAVATAR_URL }}{{ g.user.avatar }}?d=identicon&s=40" class="avatar img-circle" alt="avatar">
			</div>
			<strong>Mes Notes</strong>
		</th>
			{% for cur_user in users %}
				{% if g.user.id != cur_user.id %}
				<th colspan="2" class="text-center">
		  		<div>
					<img src="{{ config.GRAVATAR_URL }}{{ cur_user.avatar }}?d=identicon&s=40" class="avatar img-circle" alt="avatar">
				</div>
				<strong>{{ cur_user.nickname }}</strong></th>
				{% endif %}
			{% endfor %}	
		</tr>
		<tr>
			<th class="text-center" style="border:0;width:35%;">Titre</th>
			<th class="text-center" style="border:0;width:25%;">Realisateur</th>
			<th class="text-center" style="border:0;">Moyenne</th>
			<th class="text-center" style="border:0;">Note</th>
			<th class="text-center" style="border:0;">Date</th>
			{% for cur_user in users %}
				{% if g.user.id != cur_user.id %}
				<th class="text-center" style="border:0;"><strong>Note</strong></th>
				<th class="text-center" style="border:0;"><strong>Date</strong></th>
				{% endif %}
			{% endfor %}	
		</tr>
		</thead>
		</table>
	</div>
{% endblock %}
