{% extends "base.html" %} 
{% block content %}
	{% if not mark %}
	<div class="container">	
	<nav>
		<ul class="pager">
			<li>
				<a href="{{ url_for('show_movie_random') }}">Sélection aléatoire</a>
			</li>
		</ul>
		<ul class="pager">
        {% if movie_prev %}
			<li class="previous">
			<a href="{{ url_for('show_movie', movie_id=movie_prev.id) }}"><span
aria-hidden="true">&larr;</span> {{ movie_prev.name }}</a>
			</li>
	{% endif %}
        {% if movie_next %}
			<li class="next">
			<a href="{{ url_for('show_movie', movie_id=movie_next.id) }}"> {{ movie_next.name }} <span
aria-hidden="true">&rarr;</span></a>
			</li>
	 {% endif %}
		</ul>
	</nav>
	</div>
	{% endif %}
	<div class="container">
	<div class="centered text-center">
		<h1>{{ movie.name }}</h1>
	</div>
	<div class="centered text-center">
		<h4>({{ movie.release_date|date_format("%d/%m/%Y") }})</h4>
	</div>
	<div class="row">
		<div class="col-md-2">
			{% if movie.poster_path != None %}
			<img src="/static/posters/{{ movie.poster_path }}"/>
			{% else %}
			<div class="jumbotron text-center">Pas d'affiche</div>
			{% endif %}
		</div>
		<div class="col-md-10">
			<table class="table table-striped">
				<tr class="text-left">
				 <td class="col-md-1">Réalisateur:</td>
				 <td>{{ movie.director }}</td>
				</tr>
				<tr class="text-left">
				 <td class="col-md-2">Sortie:</td>
				 <td>{{ movie.release_date|date_format("%d/%m/%Y") }}</td>
				</tr>
				<tr class="text-left">
				 <td class="col-md-2">Type:</td>
				<td> {{ movie.type_object.type }} </td>
				</tr>
				<tr class="text-left">
				 <td class="col-md-2">Fiche:</td>
				 <td><a href="{{ movie.url }}">{{ movie.url }}</a></td>
				</tr>
				<tr class="text-left">
				 <td class="col-md-2">Origine:</td>
				 <td>{{ movie.origin_object.origin }}</td>
				</tr>
				<tr class="text-left">
				 <td class="col-md-2">Durée:</td>
				 {% if movie.duration %}
				 <td>{{ movie.duration|minutes_to_human_duration }}</td>
				 {% else %}
				 <td>Inconnue</td>
				 {% endif %}
				</tr>
				<tr class="text-left">
				 <td class="col-md-2">Résumé:</td>
				 {% if movie.overview %}
				 <td>{{ movie.overview }}</td>
				 {% else %}
				 <td>Néant</td>
				 {% endif %}
				</tr>
			</table>
		</div>
		{% if not mark %}
		<div class="text-center">
			<form method="post" action="{{url_for("update_movie") }}" name="updatemovie">
				{{ update_movie_form.hidden_tag() }}
				{{ update_movie_form.movie_id}}
				{{ update_movie_form.submit_update_movie(class="btn btn-primary center-block") }}
			</form>
		</div>
		{% endif %}
	</div>
	<hr/>
	<div class="container">
	{% if mark %}
		{%from "_formhelpers.html" import render_field %}
		<form method="post" action="" name="markmovie">
			{{ form.hidden_tag() }}
			{{ render_field(form.mark,message=True) }}
			{{ render_field(form.comment,message=True) }}
			{{ render_field(form.seen_when,message=True) }}
			{{ form.seen_where.label }}	
			{% for option in form.seen_where %}
			<div class="radio">
			<label>{{ option }}
			{{ option.label }}
			</label>
			</div>
			{% endfor %}
			<input type="submit" class="btn btn-success center-block" value="Noter">
		</form>
	{% else %}
		<div class="centered text-center">
			<h2>Notes</h2>
		</div>
		<table class="table table-striped table-vertical">
		{% for cur_mark in mark_users %}
			<tr>
				<td class="col-md-2 text-center">
					{{ (cur_mark["user"]).nickname }}
				</td>
				<td class="col-md-1 text-center">
					{% if cur_mark["mark"] == "homework_in_progress" %}
					<a class="disabled btn btn-warning btn-xs">Devoir</button>
					{% elif cur_mark["mark"] == None %}
						{% if g.user.id != (cur_mark["user"]).id %}
							<a href={{ url_for("add_homework",movie_id=movie.id,user_id=cur_mark["user"].id) }} class="btn btn-success btn-xs">Donner un devoir</button>
						{% else %}
							<a class="disabled btn btn-danger btn-xs">Pas de note</a>
						{% endif %}
					{% else %}	
					<div>
						<strong>{{ cur_mark["mark"] }}</strong>
					</div>
					{% endif %}
				</td>
				<td class="text-center">
					{% if cur_mark["homework_who"] %}
						<img src="{{ config.AVATARS_URL}}{{  cur_mark["homework_who"].avatar }}" height="30" width="30" alt="homework_avatar" class="avatar img-circle"/>
					{% endif %}
				</td>
				<td class="col-md-2 text-center">
					{% if cur_mark["seen_where"] != None %}
					{{ cur_mark["seen_when"] }}<br/><span id="seen_where">({{ cur_mark["seen_where"] }})</span>
					{% else %}
					N/A
					{% endif %}
				</td>
				<td class="col-md-7 text-justify">
					{% if cur_mark["comment"] != None %}
					{{ cur_mark["comment"] }}
					{% else %}
					N/A
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>
		<div class="text-center">
			{% if marked_flag %}
			<a href="{{ url_for("mark_movie",movie_id_form=movie.id) }}" class="btn btn-primary">Mettre à jour la note</a>
			{% else %}
			<a href="{{ url_for('mark_movie',movie_id_form=movie.id) }}" class="btn btn-primary">Noter ce film</a>
			{% endif %}
		</div>
	{% endif %}
	</div>
{% endblock %}
