{% extends "base.html" %}
{% block content %}
	<div class="container" id="dashboard">
		<div class="row">
			<h1 class="text-center">Tableau de bord</h1>
			<div class="col-md-4">
				<div class="panel panel-default">
					  <div class="panel-heading text-center">Moyenne</div>
					  <div class="panel-body text-center">
						<div id="average">{{ stats_dict[g.user.id]["avg"] }}</div>
					  </div>
					  <div>
						<table class="table">
							{% for cur_avg in stats_dict %}
							{% if g.user.id != cur_avg %}
							<tr>
								<td class="text-right"><img src="https://www.gravatar.com/avatar/{{ stats_dict[cur_avg]["user"].avatar }}?d=identicon&s=15" class="avatar img-circle" alt="avatar"></td>
								<td class="text-left">{{ stats_dict[cur_avg]["user"].nickname }}</td>
								<td class="text-left"> {{ stats_dict[cur_avg]["avg"] }}</td>
							</tr>
							{% endif %}
							{% endfor %}
						</table>
					  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					  <div class="panel-heading text-center">Nombre de films total</div>
					  <div class="panel-body text-center" id="movies">
							<div class="split">{{ general_stats["movies"] }}</div>
					  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					  <div class="panel-heading text-center">Nombre de films vus</div>
					  <div class="panel-body text-center">
							<div>
					  			<div id="seenmovies"> {{ stats_dict[g.user.id]["movies_total"] }}</div>
								<div><span id="theaters">Ciné :{{ stats_dict[g.user.id]["movies_theaters"] }} </span> / <span id="home">Maison : {{ stats_dict[g.user.id]["movies_home"] }}</span></div>
							</div>
							<br/>
							<div>
								<table class="table">
									{% for cur_avg in stats_dict %}
									{% if g.user.id != cur_avg %}
									<tr>
										<td class="text-right"><img src="https://www.gravatar.com/avatar/{{ stats_dict[cur_avg]["user"].avatar }}?d=identicon&s=15" class="avatar img-circle" alt="avatar"></td>
										<td class="text-left">{{ stats_dict[cur_avg]["user"].nickname }}</td>
										<td class="text-right"><span id="seenmovies_small">{{ stats_dict[cur_avg]["movies_total"] }}</span> ( <span id="theaters_small">{{ stats_dict[cur_avg]["movies_theaters"] }}</span> / <span id="home_small">{{ stats_dict[cur_avg]["movies_home"] }}</span> ) </td>
									</tr>
									{% endif %}
									{% endfor %}
								</table>
					 		</div>

					  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">	
			<div class="col-md-6">
				<div class="panel panel-default">
					  <div class="panel-heading text-center">Films vus en {{cur_year}}</div>
					  <div class="panel-body">
						<canvas id="canvas" width="200" height="100"></canvas>
					  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					  <div class="panel-heading text-center">Flux d'activité</div>
						<table class="table table-responsive" id="myhomeworks">
							{% for cur_object in activity_list %}
							<tr class="text-center">
								{% if cur_object["entry_type"] == "movies" %}
								<td><a class="disabled btn btn-danger btn-xs">Entrée</a></td>
								<td>Le film <a href="{{ url_for('show_movie', movie_id=cur_object["object"].id) }}"> {{ cur_object["object"].name }}</a> vient d'être ajouté par {{ cur_object["object"].added_by.nickname }}</td>
								{% elif cur_object["entry_type"] == "marks" %}
								<td><a class="disabled btn btn-primary btn-xs">Note</a></td>
								<td>{{ cur_object["object"].user.nickname }} a noté le film <a href="{{ url_for('show_movie', movie_id=cur_object["object"].movie_id) }}"> {{ cur_object["object"].movie.name }}</a> avec la note <span title="Commentaire" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{ cur_object["object"].comment}}"><strong>{{ cur_object["object"].mark }}</strong></span></td>
								{% elif cur_object["entry_type"] == "homeworks" %}
								<td><a class="disabled btn btn-warning btn-xs">Devoir</a></td>
								<td>{{ cur_object["object"].homework_who_user.nickname }} vient de donner  <a href="{{ url_for('show_movie', movie_id=cur_object["object"].movie_id) }}"> {{ cur_object["object"].movie.name }}</a> en devoir à {{ cur_object["object"].user.nickname }}</td>
								{% endif %}
							</tr>
							{% endfor %}
						</table>
				</div>
			</div>
		</div>
	</div>
	<div>
<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();
	});
</script>
<script>
// Context initialization
var ctx = document.getElementById("canvas").getContext("2d");

// Data structure
var data= { 
	labels : [ {% for cur_label in labels %} "{{ cur_label }}", {% endfor %} ],
	datasets : [
		{
			fill: true,
			borderColor : "#C3D9FF",
			backgroundColor : "#C3D9FF",
			label: "Ciné",
			data: [ {% for data in data["theaters"] %} {{ data }}, {% endfor %}]
		},
		{
			fill: true,
			borderColor : "#FF0084",
			backgroundColor : "#FF0084",
			label: "Maison",
			data: [ {% for data in data["others"] %} {{ data }}, {% endfor %}]
		},
		]
	}

// Draw graph
var graph=new Chart(ctx, {
	type: "bar",
	data: data,
    options: {
        scales: {
                xAxes: [{
                        stacked: true
                }],
                yAxes: [{
                        stacked: true
                }]
            }
        }
    }
);

</script>
{% endblock %}
