{% extends "base.html" %}
{% block content %}
	<div class="container" id="dashboard">
		<div class="row">
			<h1 class="text-center">Tableau de bord</h1>
			<div class="col-md-4">
				<div class="panel panel-default">
					  <div class="panel-heading text-center">Moyenne</div>
					  <div class="panel-body text-center">
						<div id="average">{{ stats_dict[g.user.id]["avg"] }}</div>
						<br/>
						  <div>
							<table class="table table-vertical">
								{% for cur_avg in stats_dict %}
								{% if g.user.id != cur_avg %}
								<tr>
									<td class="text-right"><img src="{{ config.AVATARS_URL}}{{ stats_dict[cur_avg]["user"].avatar }}" width="30" height="30" class="avatar img-circle" alt="avatar"></td>
									<td class="text-left">{{ stats_dict[cur_avg]["user"].nickname }}</td>
									<td class="text-left"> {{ stats_dict[cur_avg]["avg"] }}</td>
								</tr>
								{% endif %}
								{% endfor %}
							</table>
						  </div>
					  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					  <div class="panel-heading text-center">Nombre de films total</div>
					  <div class="panel-body text-center" id="movies">
							<div class="split">{{ general_stats["movies"] }}</div>
					  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					  <div class="panel-heading text-center">Nombre de films vus</div>
					  <div class="panel-body text-center">
							<div>
					  			<div id="seenmovies"> {{ stats_dict[g.user.id]["movies_total"] }}</div>
								<div><span id="theaters">Ciné :{{ stats_dict[g.user.id]["movies_theaters"] }} </span> / <span id="home">Maison : {{ stats_dict[g.user.id]["movies_home"] }}</span></div>
							</div>
							<br/>
							<div>
								<table class="table table-vertical">
									{% for cur_avg in stats_dict %}
									{% if g.user.id != cur_avg %}
									<tr>
										<td class="text-right"><img src="{{ config.AVATARS_URL}}{{ stats_dict[cur_avg]["user"].avatar }}" width="30" height="30" class="avatar img-circle" alt="avatar"></td>
										<td class="text-left">{{ stats_dict[cur_avg]["user"].nickname }}</td>
										<td class="text-right"><span id="seenmovies_small">{{ stats_dict[cur_avg]["movies_total"] }}</span> ( <span id="theaters_small">{{ stats_dict[cur_avg]["movies_theaters"] }}</span> / <span id="home_small">{{ stats_dict[cur_avg]["movies_home"] }}</span> ) </td>
									</tr>
									{% endif %}
									{% endfor %}
								</table>
					 		</div>

					  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">	
			<div class="col-md-6">
				<div class="panel panel-default">
					  <div class="panel-heading text-center">
					  <button id="year_nav_left" value="{{ g.cur_date.year - 1 }}"  class="glyphicon glyphicon-menu-left" aria-hidden="true"></button>
					  <span>Films vus par </span><span>{{ dashboard_graph_form.user_list }}</span><span> en </span><span id="graph_cur_year">{{cur_year}}</span>
					  <button id="year_nav_right" value="{{ g.cur_date.year +1 }}" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button>
					  </div>
					  <div class="panel-body">
						<canvas id="canvas" width="200" height="100"></canvas>
					  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					  <div class="panel-heading text-center">Flux d'activité</div>
						<table class="table table-responsive" id="myhomeworks">
							{% for cur_object in activity_list %}
							<tr class="text-center">
								{% if cur_object["entry_type"] == "movies" %}
								<td><a class="disabled btn btn-danger btn-xs">Entrée</a></td>
								<td>Le film <a href="{{ url_for('show_movie', movie_id=cur_object["object"].id) }}"> {{ cur_object["object"].name }}</a> vient d'être ajouté par {{ cur_object["object"].added_by.nickname }}</td>
								{% elif cur_object["entry_type"] == "marks" %}

									{% if cur_object["object"].updated_when != None and cur_object["object"].homework_when != None: %}
									<td><a class="disabled btn btn-primary btn-xs">Note</a> <a class="disabled btn btn-warning btn-xs">Devoir</a></td>
									<td>{{ cur_object["object"].user.nickname }} a rempli le devoir sur le film <a href="{{ url_for('show_movie', movie_id=cur_object["object"].movie_id) }}"> {{ cur_object["object"].movie.name }}</a> avec la note <span title="Commentaire" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{ cur_object["object"].comment}}"><strong>{{ cur_object["object"].mark }}</strong></span></td>
									{% else %}

									<td><a class="disabled btn btn-primary btn-xs">Note</a></td>
									<td>{{ cur_object["object"].user.nickname }} a noté le film <a href="{{ url_for('show_movie', movie_id=cur_object["object"].movie_id) }}"> {{ cur_object["object"].movie.name }}</a> avec la note <span title="Commentaire" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{ cur_object["object"].comment}}"><strong>{{ cur_object["object"].mark }}</strong></span></td>

									{% endif %}

								{% elif cur_object["entry_type"] == "homeworks" %}
								<td><a class="disabled btn btn-warning btn-xs">Devoir</a></td>
								<td>{{ cur_object["object"].homework_who_user.nickname }} vient de donner  <a href="{{ url_for('show_movie', movie_id=cur_object["object"].movie_id) }}"> {{ cur_object["object"].movie.name }}</a> en devoir à {{ cur_object["object"].user.nickname }}</td>
								{% endif %}
							</tr>
							{% endfor %}
						</table>
				</div>
			</div>
		</div>
	</div>
	<div>
<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();
	});
</script>
<script>
// Context initialization
var ctx = document.getElementById("canvas").getContext("2d");
var json_data = { theaters: {}, others: {} };
var data, graph;

function draw_graph() {

    // Le code a exécuter !
    $.post(
		"{{ url_for('graph_movies_by_year') }}",
		{
			year: $('#graph_cur_year').text(),
			user: $('#user_list').val()
		},
		update_graph_display,
		"json" 
	);
}



function update_graph_display(json_data) {

	// Destroy the graph if it is already initializes
	// in order to clear all the previous data
	if (graph != undefined) {
		graph.destroy()
	}

	// Data structure
	data= { 
		labels : [ {% for cur_label in labels %} "{{ cur_label }}", {% endfor %} ],
		datasets : [
			{
				fill: true,
				borderColor : "#C3D9FF",
				backgroundColor : "#C3D9FF",
				label: "Ciné",
				data: json_data["theaters"]
			},
			{
				fill: true,
				borderColor : "#FF0084",
				backgroundColor : "#FF0084",
				label: "Maison",
				data: json_data["others"]
			},
			]
		}

	// Draw graph
	graph=new Chart(ctx, {
			type: "bar",
			data: data,
		    options: {
			scales: {
				xAxes: [{
					stacked: true
				}],
				yAxes: [{
					stacked: true
			}]
		    }
		}
	    }
	);
}

function update_graph_year_nav() {
    if ($("#year_nav_right").val() > "{{ cur_year }}") {
		$("#year_nav_right").hide()
	}
	else {
		$("#year_nav_right").show()
	}
}

// Update graph on user change
$("#user_list").change(function() {
	draw_graph();
});

// Update graph on button click
$("button").click(function(){
    // Let's update button and text values
    $("#graph_cur_year").text($(this).val())
	
    if (this.id == "year_nav_left") {
	    $("#year_nav_left").val(parseInt($("#year_nav_left").val()) - 1)
	    $("#year_nav_right").val(parseInt($("#year_nav_right").val()) - 1)
    }
    else if (this.id == "year_nav_right") {
	    $("#year_nav_left").val(parseInt($("#year_nav_left").val()) + 1)
	    $("#year_nav_right").val(parseInt($("#year_nav_right").val()) + 1)
    }

    // Let's redraw the graph considering the new year
    draw_graph();

    // Update navbar button
    update_graph_year_nav()
});

// Let's draw the graph when the document is ready
jQuery(document).ready(function($) {
	draw_graph();
        update_graph_year_nav();

});
</script>
{% endblock %}
