emodal-footer { border-top: 0px; }
		

#login_modal {
	top:15%
}

th.dt-center, td.dt-center { text-align: center; }

.popover-title {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    text-align:center;
}

#average {
	font-size: xx-large;
	color: #FF1A00;
        font-weight: bold;
}

#seenmovies {
	font-size: xx-large;
	color: #D966FF;
        font-weight: bold;
}

#theaters {
	font-size: large;
	color: #C3D9FF;
        font-weight: bold;
}

#home {
	font-size: large;
	color: #FF0084;
        font-weight: bold;
}

#seenmovies_small {
	color: #D966FF;
        font-weight: bold;
}

#theaters_small {
	color: #C3D9FF;
        font-weight: bold;
}

#home_small {
	color: #FF0084;
        font-weight: bold;
}

#movies {
	font-size: xx-large;
	color: #4096EE;
        font-weight: bold;
}

/* Datatable style sheet in order to 
have some spaces between the page status display
and the record display filter */
div.dataTables_length,
div.dataTables_filter {
    padding-top: 1.55em;
}

/* BEGIN - Styles for the login page */
#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px;    
}

#login > div {
    margin-bottom: 25px;
}

#login > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* END - Styles for the login page */

body {
    padding-bottom: 20px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: #f5f5f5;
}

#redcross {
	color: red;
	font-size:21px;
}

#seen_where {
	font-style: italic;
}

.radio_label {
	font-weight: normal;
}

#spinner {
    background: url(/static/images/ajax-loader.gif) center center no-repeat;
    height: 100%;
    z-index: 20;
}

#container_overlay {
    background: #e9e9e9;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.table-vertical > tbody > tr > td {
     vertical-align: middle;
}

/* Chat Box style */
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

#chat_box {
	position:fixed;
	bottom:0;
	right:0;
	width:325px;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

#chat_body
{
    overflow-y: scroll;
    height: 250px;
}

.btn-comment {
    background-color:#aa66cc;
    color:white;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/* Test Nouveau commentaire */
.btn {
	white-space: normal;
}

.media-heading {
	padding-bottom:5px;
}

.media_mark {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
    border: 1px solid #dddddd;
    padding: 20px 15px 15px 15px;
}

.media_mark .media-left {
  width: 90px;
  height: 90px;
}

.media_comment .media-left {
  width: 60px;
  height: 60px;
}

.media_mark .media-left .avatar {
  width: 60px;
  height: 60px;
}

.media_comment .media-left .avatar {
  width: 40px;
  height: 40px;
}

.media_comment {
	border-radius: 20px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
}

.comment_form {
	margin-bottom:10px;
}

.comment_number .glyphicon-comment {
    padding: 5px;
}

.comment_number {
    background-color:#5bc0de;
}

#mark_container {
    padding-bottom:10px;
}

.fa-bg-white {
    color:white;
}

.comment_tools .btn {
    margin-right:10px;
}
