<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
	{%from "_formhelpers.html" import render_field %}
	<div class="container">
	<form method="post" action"" name="addmovie">
		{{ form.hidden_tag() }}
		{{ render_field(form.name) }}
		{{ render_field(form.year) }}
		{{ render_field(form.url) }}
		{{ render_field(form.director) }}
		{{ render_field(form.origin) }}
		{{ render_field(form.type) }}
		<input class="btn btn-success center-block" type="submit" value="Ajouter">
	</form>
	</div>
{% endblock %}
