<html>
  <head>
	<!-- JQuery -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Style sheet for custom styles -->
	<link href="/static/styles.css" rel="stylesheet">

    <title>CineApp</title>
  </head>
  <body>
	<nav class="navbar navbar-default navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="{{ url_for('index') }}">CineApp</a>
			 </div>	
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% if g.user.is_authenticated %}
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notes<span class="caret"></span></a>
					  <ul class="dropdown-menu">
				       	    <li><a href="{{ url_for('list_my_movies') }}">Mes notes</a></li>
					  </ul>
					</li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Films<span class="caret"></span></a>
					  <ul class="dropdown-menu">
					    <li><a href="{{ url_for('list_movies') }}">Liste des films</a></li>
					    <li><a href="{{ url_for('add_movie') }}">Ajouter un film</a></li>
					  </ul>
					  </li>
					{% endif %}
				</ul>
				{% if g.user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
					<li>
						<p class="navbar-text">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							Welcome <strong>{{ g.user.nickname }}</strong>
						</p>
					</li>
					<li>
						<p class="navbar-btn">				
							<a class="btn btn-default" role="button" href="{{ url_for('logout') }}">Se deconnecter</a>
						</p>
					</li>
					</ul>
				{% endif %}
			</div>
		</div>
	</nav>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<div class="alert alert-{{ messages.0.0 }} modal-dialog text-center">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
			</button>
		{% for category, message in messages %}
			{{ message.decode('utf-8') }}
		{% endfor %}
		</div>
	{% endif %}
	{% endwith %}
	{% block content %} {% endblock %}
  </body>
</html>
