{% extends "base.html" %}

{% block content %}
	<div class="container">
	    <h1>Edition du profil</h1>
		<hr>
		<div class="row">
	      <!-- left column -->
	      <div class="col-md-3">
		<div class="text-center">
		  <img src="http://www.gravatar.com/avatar/{{ g.user.avatar }}?d=identicon&s=100" class="avatar img-circle" alt="avatar">
		</div>
	      </div>
	      
	      <!-- edit form column -->
	      <div class="col-md-9 personal-info">
		<h3>Informations Utilisateur</h3>
		
		<form class="form-horizontal" role="form" method="post" action="">
			{{ form.hidden_tag() }}
		  <div class="form-group">
		    <label class="col-lg-3 control-label">Email:</label>
		    <div class="col-lg-8">
			{{ render_field(form.email,label_visible=false) }}
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-lg-3">
			    <label class="pull-right">Notifications:</label>
		    </div>
		    <div class="col-lg-8">
			{{ render_field(form.notif_enabled,label_visible=false,parse_class=false) }}
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-md-3 control-label">Password:</label>
		    <div class="col-md-8">
			{{ render_field(form.password,label_visible=false) }}
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-md-3 control-label">Confirm password:</label>
		    <div class="col-md-8">
			{{ render_field(form.confirm,label_visible=false) }}
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-md-3 control-label"></label>
		    <div class="col-md-8">
			{{ form.submit_user(class="btn btn-primary") }}
		      <span></span>
		    </div>
		  </div>
		</form>
	      </div>
	  </div>
	</div>
	<hr>
{% endblock %}
