{% extends "base.html" %} 
{% block content %}
	<div class="container">
	<nav>
		<ul class="pager">
        {% if marked_movies.has_prev %}
			<li class="previous">
			<a href="{{ url_for('list_my_movies', page=marked_movies.prev_num) }}"><span
aria-hidden="true">&larr;</span> Page {{ marked_movies.prev_num }}</a>
			</li>
	{% endif %}
        {% if marked_movies.has_next %}
			<li class="next">
			<a href="{{ url_for('list_my_movies', page=marked_movies.next_num) }}">Page {{ marked_movies.next_num }} <span
aria-hidden="true">&rarr;</span></a>
			</li>
	 {% endif %}
		</ul>
	</nav>
	</div>
	<div class="container">
		<table class="table table-striped">
	      {% for marked_movie in marked_movies.items %}
		<tr>
			<td><a href="{{ url_for('show_movie', movie_id=marked_movie.movie.id) }}">{{marked_movie.movie.name}}</a></td>
			<td><strong>{{ marked_movie.mark }}</strong></td>
			<td> {{ marked_movie.comment }}</td>
		</tr>
	      {% endfor %}
		</table>
	</div>
{% endblock %}
