{% extends "base.html" %} 
{% block content %}
	<script>
	$(document).ready(function() {
	    $('#movielist').DataTable(
			{ "searching":false,
			  "ordering":true,
			  "processing": true,
			  "serverSide": true,
			  "ajax": {
				"url": "{{ url_for('update_datatable') }}",
				"type" : "POST",
				"data": function(args) {
				      return { "args": JSON.stringify( args ) };
				}
			  },
			  "columns" : [
				{ "data": "name",
				  "render": function(data,type,row) {
					return $("<div>").append($("<a/>").attr("href", row.DT_RowData.link).text(data)).html();
					}
			        },
				{ "data": "director" },
				{ "data": "my_mark",
				  "render": function(data,type,row) {
						if (row.my_mark == -1)  {
  							return '<a class=\"btn btn-primary btn-xs\" href=' + row.DT_RowData.mark_link + '>Noter</a>'
						} else {
							return "<strong>" + row.my_mark + "</strong>"
						}
					
					}
				 },
				 { "data": "my_when",
				   "orderable": false
				 },
			{% for cur_user in users %}
				{% if g.user.id != cur_user.id %}
				 { "data": "other_marks.{{ cur_user.id }}" },
				 { "data": "other_when.{{ cur_user.id }}","orderable":false },
				{%endif%}
			{% endfor %}
			  ],
			  "columnDefs": [
				{"className": "dt-center", "targets": "_all"}
			  ],
			  "language": {
					"info": "Page _PAGE_ sur _PAGES_",
					"lengthMenu": "Afficher _MENU_ films",
					"paginate" : {
						"first": "Première page",
						"last": "Dernière  page",
						"next": "Suivant",
						"previous": "Précédent"
					 }
				},
			}
		);
	} );
	</script>
	<div class="container">
		{% if route_rule == 'filter_mode' %}
		<h1 class="text-center">Recherche Personnalisée: {{ session['query'] }}</h1>
		{% else %}
		<h1 class="text-center">Liste des films</h1>
		{% endif %}
<!--	<nav>
		<ul class="pager">
        {% if movies.has_prev %}
			<li class="previous">
			<a href="{{ url_for(route_rule, page=movies.prev_num) }}"><span
aria-hidden="true">&larr;</span> Page {{ movies.prev_num }}</a>
			</li>
	{% endif %}
        {% if movies.has_next %}
			<li class="next">
			<a href="{{ url_for(route_rule, page=movies.next_num) }}">Page {{ movies.next_num }} <span
aria-hidden="true">&rarr;</span></a>
			</li>
	 {% endif %}
		</ul>
	</nav>-->
	</div>
	<div class="container">
		{% if movies.items|length != 0 %}
		<table class="table table-striped" id="movielist">
		<!-- Display the users name -->
		<thead>
		<tr>
		<td colspan="2"></td>
		<th colspan="2" class="text-center"">Mes Notes</th>
			{% for cur_user in users %}
				{% if g.user.id != cur_user.id %}
				<th colspan="2" class="text-center"><strong>{{ cur_user.nickname }}</strong></th>
				{% endif %}
			{% endfor %}	
		</tr>
		<tr>
			<th class="text-center" style="border:0;">Titre</th>
			<th class="text-center" style="border:0;">Realisateur</th>
			<th class="text-center" style="border:0;">Note</th>
			<th class="text-center" style="border:0;">Date</th>
			{% for cur_user in users %}
				{% if g.user.id != cur_user.id %}
				<th class="text-center"><strong>Note</strong></th>
				<th class="text-center"><strong>Date</strong></th>
				{% endif %}
			{% endfor %}	
		</tr>
		</thead>
		</table>
	{% endif %}
	</div>
{% endblock %}
